@import '../../../styles/mixins/_center.scss';

.menu {
  height: 100%;
  @include center;

  &--container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding: 10px;
    border-left: 1px solid var(--secondary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &--link-item {
    padding: 10px 0 10px 0;
  }
}
