@import '../../../styles/mixins/_center.scss';

.menu {
  @include center;
  height: 100%;
  width: 125px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &--container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &--link-item {
    padding: 10px 0 10px 0;
    opacity: 0;
    transform: translateX(-100%);

    animation: menu-appear var(--t-short) ease-out forwards;

    // &:nth-child(n){
    //   animation-delay: calc(0.2s * attr(data-item-count));
    // }

    &:nth-child(1) {
      animation-delay: 0.9s;
    }
    &:nth-child(2) {
      animation-delay: 0.6s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
    &:nth-child(5) {
      animation-delay: 0.9s;
    }
  }

  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    width: 0px;
  }
}

@keyframes menu-appear {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
