:root {
  --primary-color: #d8f0ff;
  --secondary: #222222;
  --accent: #ffc800;
  --background: #f7f7f7;
  --text: #222222;

  --highlight: #00ffff;
  --link: #ff00a4;
  --accent-secondary: #1aff00;
}
