.blurry-container {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px var(--shadow-light) inset;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background-color: var(--background);
    backdrop-filter: blur(10px);
    opacity: 0.95;
    z-index: -1;
  }
}
