@mixin colors-dark {
  --primary: #222222;
  --secondary: #d8f0ff;
  --background: #222222;
  --text: #f7f7f7;
  --accent: #ffc800;
  --shadow-light: #d8f0ff1a;
  --shadow-strong: #d8f0ff80;
  --shadow-accent: #282828;

  // --highlight: #00ffff;
  // --link: #ff00a4;
  // --accent-secondary: #1aff00;
}
